.Admin_title {
  color: black;
  width: 100%;
  font-family: "Shadows Into Light", cursive;
  font-size: 6rem;
}
.Admin_userSearchContenier,
.Admin_ordersSearchContenier {
  display: flex;
  margin: auto;
  width: 50%;
}
.Admin_userSearchTitle,
.Admin_ordersSearchTitle {
  flex: 35%;
  font-family: "Shadows Into Light", cursive;
  font-size: 3rem;
}
.Admin_userSearch,
.Admin_ordersSearch {
  flex: 65%;
  width: 100%;
}
.Admin_Search {
  width: 100%;
}
.Admin_usersInfo {
  width: 50%;
  margin: auto;
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.showDetails_userItem {
  margin-top: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex: 50%;
  height: 10rem;
}
.showDetails_info {
  flex: 80%;
}
.ShowDetails_btns {
  flex: 20%;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  padding-left: 4rem;
  padding-right: 4rem;
}
.showDetails_btn {
  flex: 50%;
  border-radius: 2rem;
  width: 1rem;
}
.showDetails {
  display: flex;
  flex: 50%;
  flex-direction: row;
  gap: 1rem;
}
.showDetails_delBtn {
  flex: 20%;
  border-radius: 3rem;
  width: 7rem;
  /* margin-right: 8rem; */
}
.Admin_ordersInfo {
  width: 70%;
  margin: auto;
  margin-top: 2rem;
}
.showOrders {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.showOrders_orderItem {
  flex: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.showOrders_info {
  flex: 70%;
}
