.navigation {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.714);
  color: #fff;
  height: 6rem;
  font-size: 2rem;
  gap: 15rem;
  align-items: center;
  z-index: 10;
  padding: 1rem 5rem;
}
.navigation_title {
  padding: 0 10rem 0 5rem;

  display: flex;
  flex: 50%;
  font-family: "Shadows Into Light", cursive;
}
.navigation_title h1 {
  color: #fff;
}
.navigation_links {
  display: flex;
  flex: 50%;
  justify-content: space-between;
  color: #fff;
  list-style: none;
  flex-direction: row;
  align-items: center;
}
.navigation_links a {
  color: #fff;
  text-decoration: none;
}

.navigation_links li {
  flex: 1;
}
.navigation_links li:hover {
  font-size: 2.2rem;
}

.toCart_btn {
  display: flex;
  align-items: center;
}

.shoppin__icon {
  margin-right: 1rem;
}

.shopping__amount {
  margin-left: 1rem;
}

.navigation_search {
  width: 40%;
}
